$clr-white: #fff;
$clr-black: #00040a;
$clr-light-green: #06ff00;
$clr-green: #0e401a;
$clr-warm-red: #f90716;

$spacing: 0.1rem;
$max-width: 1170px;

$transition: all 0.3s linear;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
$fixed-width: 450px;
