@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background: $clr-light-green;
  color: $clr-black;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: $clr-black;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: $max-width;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60vw;
  margin: 5rem 0;
  max-width: $max-width;
  background: $clr-white;
  border-radius: $radius;
  padding: 1.5rem 3rem;
  box-shadow: $dark-shadow;
}

.container h3 {
  font-weight: 900;
  text-transform: none;
  margin-bottom: 3rem;
}

.container h4 {
  font-weight: 900;
}

.performer {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.performer img {
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: $light-shadow;
  border: 2px solid $clr-black;
}

.logo {
  text-align: center;
}

.performer h4 {
  margin-bottom: 0.35rem;
}

.performer p {
  margin-bottom: 0;
}

.container button {
  color: $clr-white;
  display: block;
  width: 100%;
  border-color: transparent;
  background: $clr-green;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: $spacing;
  border-radius: $radius;
  outline: 1px solid $clr-green;
  cursor: pointer;
  &:hover {
    background: #0c007a;
  }
}

.title {
  font-weight: 700;
  text-align: center;
}

.stream {
  font-size: 1.15rem;
}

.number {
  color: $clr-warm-red;
  font-weight: 700;
}
